body {
    margin: 0;
    padding: 0;
}

.guestContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/img1.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.header {
    width: 100%;
    background-color: #eed00e;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
}

.main-container {
    box-sizing: border-box;
    overflow: hidden;
    height: 70%;
    width: 448px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*
.main-container input {
    display: block;
    margin-top: 4px;
    width: 100%;
}
*/

h1 {
    color: #f4d03f;
    font-size: 36px;
    margin-bottom: 12px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.form-image img {
    margin-top: 25px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

form {
    padding: 16px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    align-self: flex-start;
    margin-bottom: 4px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button, .secondary-button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
}

.secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 16px;
}

form button:hover, .secondary-button:hover {
    background-color: #2980b9;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
}