.mission-vision-text {
    text-align: justify;
    
    line-height: 1.7;
    font-style: italic;
    font-size: 21px;
    margin-left: 140px;
    margin-right: 140px;
}

h2 {
    font-size: 40px;
    text-align: center;
}